<!-- Import Progress Index -->
@{
    ViewData["Title"] = "Import Progress";
}
<div class="container-fluid" style="padding-top:10px">

    <style>
        table.dataTable tbody td {
            vertical-align: middle;
            cursor: pointer;
        }
    </style>

    <div class="info-box bg-dark">
        <div class="info-box-content">
            <h3 class="info-box-text">IMPORT PROGRESS</h3>
        </div>
    </div>

    <div class="card card-dark">
        <div class="card-header">
            <span class="card-title">Select File</span>
            <div class="card-tools">
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <label>Select Year</label>
                    <select id="select_progress_year" class="form-control">
                        @* Generate By JavaScript *@
                    </select>
                </div>
                <br />
                <div class="form-row">
                    <label>Select Month</label>
                    <select id="select_progress_month" class="form-control">
                        @* Generate By JavaScript *@
                    </select>
                </div>
                <br />
                <div id="div_file" class="form-row" style="display:none">
                    <label id="import_file_label">Select File</label>
                    <input id="import_file" class="form-control-file" type="file" />
                </div>
            </form>
        </div>
    </div>

    <div id="card_upload" class="card card-dark" style="display:none">
        <div class="card-header">
            <span class="card-title">
                Uploaded Content
            </span>
            <div class="card-tools">
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <label for="year">Year</label>
            <input id="year" class="form-control" type="text" disabled />
            <label for="week_time">Month</label>
            <input id="week_time" class="form-control" type="text" disabled />
            <br />
            <table id="table_progress" class="table table-sm table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align:center">Job ID</th>
                        <th style="text-align:center">Estimated Budget</th>
                        <th style="text-align:center">Progress</th>
                    </tr>
                </thead>
                <tbody>
                    @* Generate By JavaScript *@
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <button id="btn_confirm_import" class="btn btn-primary" type="button" style="float:right">
                Import
            </button>
        </div>
    </div>

    <div class="card card-dark">
        <div class="card-header">
            <span class="card-title">Job's Progress</span>
            <div class="card-tools">
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <table id="table_jobs" class="table table-sm table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align:center">Job ID</th>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Budget</th>
                        <th style="text-align:center">Remain</th>
                        <th style="text-align:center"></th>
                        <th style="text-align:center">Progress</th>
                        <th style="text-align:center"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div id="card_job_detail" class="card card-dark" style="display:none">
        <div class="card-header">
            <span id="job_number_detail" class="card-title">
                J21-0001
            </span>
            <div class="card-tools">
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <label for="job_name">
                    Job Name
                </label>
                <input id="job_name" class="form-control" type="text" disabled/>
            </div>
            <br />
            <div class="form-row">
                <label for="job_estimated_budget">
                    Estimated Budget
                </label>
                <input id="job_estimated_budget" class="form-control" type="text" disabled/>
            </div>
            <br />
            <table id="table_details" class="table table-sm table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:5%">Year</th>
                        <th style="width:15%">Month</th>
                        <th style="width:30%">Budget Spent</th>
                        <th style="width:5%"></th>
                        <th style="width:30%">Progress</th>
                        <th style="width:5%"></th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    @* Generate by JavaScript *@
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal" id="ModalEditJobSpent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Job Spent and Progress</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Job Number</label>
                        <input id="EditJobNumber" class="form-control" type="text" disabled/>
                    </div>
                    <div class="form-group">
                        <label>Year</label>
                        <input id="EditJobYear" class="form-control" type="text" disabled />
                    </div>
                    <div class="form-group">
                        <label>Month</label>
                        <input id="EditJobMonth" class="form-control" type="text" disabled />
                    </div>
                    <div class="form-group">
                        <label>Budget</label>
                        <input id="EditJobBudget" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Progress (%)</label>
                        <input id="EditJobProgress" class="form-control" type="number" min="0" max="100"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_update_progress" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var table_jobs;
        var table_details;
        var table_progress;
        var jobs = [];
        var months = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
        var week_time = [
            "JAN 1", "JAN 2", "FEB 1", "FEB 2", "MAR 1", "MAR 2", "APR 1", "APR 2", "MAY 1", "MAY 2", "JUN 1", "JUN 2",
            "JUL 1", "JUL 2", "AUG 1", "AUG 2", "SEP 1", "SEP 2", "OCT 1", "OCT 2", "NOV 1", "NOV 2", "DEC 1", "DEC 2"
        ];

        $(document).ready(function () {
            GetData();
            GenerateYearOptions();
            GenerateMonthOptions();
        })

        function GenerateYearOptions() {
            $('#select_progress_year').find('option').remove();
            var str = '<option disabled selected>Please Select Year</option>';
            var current_year = new Date();
            for (var i = 0; i < 10; i++) {
                var year = parseInt(current_year.getFullYear()) - i;
                str += '<option value="' + year + '">' + year + '</option>';
            }
            $('#select_progress_year').append(str);
        }

        function GenerateMonthOptions() {
            $('#select_progress_month').find('option').remove();
            var str = '<option disabled selected>Please Select Month</option>';
            for (var i = 0; i < months.length; i++) {
                str += '<option value="' + months[i] + '">' + months[i] + '</option>';
            }
            $('#select_progress_month').append(str);
        }

        $('#select_progress_year').on('change', function () {
            if ($('#select_progress_year').val() != null && $('#select_progress_month').val() != null) {
                $('#div_file').css('display', 'block');
            }
            else {
                $('#div_file').css('display', 'none');
            }
        });

        $('#select_progress_month').on('change', function () {
            if ($('#select_progress_year').val() != null && $('#select_progress_month').val() != null) {
                $('#div_file').css('display', 'block');
            }
            else {
                $('#div_file').css('display', 'none');
            }
        });

        async function GetData() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetData", "ImportProgress")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    //console.log("Response");
                    //console.log(response);
                    jobs = response;
                    GenJobsTable();
                }
            });
        }

        function GenJobsTable() {
            var datas = [];
            var last_index;
            @*console.log("Total Job: " + jobs.length);*@
            for (var i = 0; i < jobs.length; i++) {
                last_index = jobs[i].length - 1;
                var jn = jobs[i][last_index].job_number.trim() != "" ? jobs[i][last_index].job_number : jobs[i][last_index].job_id;
                datas.push([
                    jn,
                    jobs[i][last_index].job_name,
                    jobs[i][last_index].estimated_budget.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                    jobs[i][last_index].remainning_cost,
                    jobs[i][last_index].remainning_cost / jobs[i][last_index].estimated_budget * 100,
                    jobs[i][last_index].job_progress,
                    jobs[i][last_index].job_progress,
                ]);
            }

            if (table_jobs != null)
                $('#table_jobs').DataTable().destroy();

            table_jobs = $('#table_jobs').DataTable({
                data: datas,
                pagingType: "full_numbers",
                columnDefs: [
                    {
                        targets: [4, 6],
                        orderable: false,
                        searchable: false
                    },
                ],
                rowCallback: function (row, data) {

                    $('td', row).eq(2).css("text-align", "center");
                    $('td', row).eq(3).css("text-align", "center");
                    $('td', row).eq(4).css("text-align", "center");
                    $('td', row).eq(5).css("text-align", "center");
                    $('td', row).eq(6).css("text-align", "center");

                    var remain_str = '<div class="progress progress-xs progress-striped active">';
                    remain_str += '<div class="progress-bar bg-primary" style="width: ' + Math.round(data[4]) + '%"></div></div>';
                    $('td', row).eq(3).html(remain_str);
                    var remain_percent_str = '<span class="badge bg-primary">' + Math.round(data[4]) + '%</span>';
                    $('td', row).eq(4).html(remain_percent_str);
                    var progress_str = '<div class="progress progress-xs progress-striped active">';
                    progress_str += '<div class="progress-bar bg-primary" style="width: ' + Math.round(data[5]) + '%"></div></div>';
                    $('td', row).eq(5).html(progress_str);
                    var progress_percent_str = '<span class="badge bg-primary">' + Math.round(data[6]) + '%</span>';
                    $('td', row).eq(6).html(progress_percent_str);

                }
            });

            $('#table_jobs tbody').on('click', 'tr', function () {
                GenJobsDetail(table_jobs.row(this).data()[0]);
            });
        }

        function GenJobsDetail(job_id) {
            var index = -1;
            for (var i = 0; i < jobs.length; i++) {
                if (jobs[i][0].job_number == job_id)
                    index = i;
            }

            if (index > -1) {
                var card = document.getElementById("card_job_detail");
                card.style.display = "block";
                $('#job_number_detail').text("Job Number: " + jobs[index][0].job_number);
                $('#job_name').val(jobs[index][0].job_name);
                var budget = jobs[index][0].estimated_budget.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                $('#job_estimated_budget').val(budget);
            }

            if(table_details != null)
                $('#table_details').DataTable().destroy();

            var datas = [];
            for (var i = 0; i < jobs[index].length; i++) {
                datas.push([
                    jobs[index][i].year,
                    months[jobs[index][i].month - 1],
                    jobs[index][i].spent_cost,
                    jobs[index][i].spent_cost / jobs[index][i].estimated_budget * 100,
                    jobs[index][i].job_progress,
                    jobs[index][i].job_progress,
                    0
                ]);
            }

            console.log("Data 0" + datas[0]);
            console.log("Data 1" + datas[1]);

            table_details = $('#table_details').DataTable({
                data: datas,
                pagingType: "full_numbers",
                columnDefs: [
                    {
                        targets: [3, 5, 6],
                        orderable: false,
                        searchable: false
                    },
                ],
                rowCallback: function (row, data) {
                    $('td', row).eq(0).css("text-align", "center");
                    $('td', row).eq(1).css("text-align", "center");
                    $('td', row).eq(2).css("text-align", "center");
                    $('td', row).eq(3).css("text-align", "center");
                    $('td', row).eq(4).css("text-align", "center");
                    $('td', row).eq(5).css("text-align", "center");
                    $('td', row).eq(6).css("text-align", "center");

                    var budget_spent_str = '<div class="progress progress-xs progress-striped active">';
                    budget_spent_str += '<div class="progress-bar bg-primary" style="width: ' + Math.round(data[3]) + '%"></div></div>';
                    $('td', row).eq(2).html(budget_spent_str);
                    var spent_percent_str = '<span class="badge bg-primary">' + Math.round(data[3]) + '%</span>';
                    $('td', row).eq(3).html(spent_percent_str);
                    var progress_str = '<div class="progress progress-xs progress-striped active">';
                    progress_str += '<div class="progress-bar bg-primary" style="width: ' + Math.round(data[5]) + '%"></div></div>';
                    $('td', row).eq(4).html(progress_str);
                    var progress_percent_str = '<span class="badge bg-primary">' + Math.round(data[5]) + '%</span>';
                    $('td', row).eq(5).html(progress_percent_str);
                    $('td', row).eq(6).html('<button class="btn btn-primary form-control" onclick=EditProgress("' + jobs[index][0].job_number + '",' + data[0] + ',"' + data[1] + '","' + $('#job_estimated_budget').val() + '","' + data[4] + '")>Edit</button>');
                }
            });
        }

        var import_jobs = [];
        var excel_duplicate = [];
        var db_duplicate = [];
        $('#import_file').on('change', async function () {
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#import_file').val();

            if (filename.length == 0) {
                alert("Please Select a File");
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Please select only excel files.");
                }
            }

            var fdata = new FormData();
            var fileupload = $('#import_file').get(0);
            var files = fileupload.files;
            var y = $('#select_progress_year').val();
            var m = $('#select_progress_month').val();

            fdata.append(files[0].name, files[0]);
            $('#import_file_label').text(files[0].name);

            await $.ajax({
                type: "POST",
                url: '@Url.Action("SetJobDetails", "ImportProgress")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { y, m },
            });

            await $.ajax({
                type: "POST",
                url: "ImportProgress/Import",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.length == 0)
                        alert('Some error occured while uploading');
                    else {
                        //console.log("Response");
                        //console.log(response);
                        import_jobs = response[0];
                        excel_duplicate = response[1];
                        db_duplicate = response[2];
                        GenUploadData();
                    }
                },
            });
        });

        function GenUploadData() {
            var mm = [" ", "JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
            var full_mm = [" ", "JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE", "JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER"];
            $('#card_upload').show();
            $('#year').val(import_jobs[0].year);
            $('#week_time').val(mm[import_jobs[0].month]);

            var datas = [];
            for (var i = 0; i < import_jobs.length; i++) {
                datas.push([
                    import_jobs[i].job_id,
                    import_jobs[i].estimated_budget,
                    import_jobs[i].job_progress
                ]);
            }

            if (table_progress != null)
                $('#table_progress').DataTable().destroy();

            table_progress = $('#table_progress').DataTable({
                data: datas,
                pagingType: "full_numbers",
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            });
        }

        $('#btn_confirm_import').on('click', function () {
            ConfirmImport();
        });

        function ConfirmImport() {
            $('#btn_confirm_import').attr('disabled', true);
            //$('#modal_upload').modal("show");
            $.ajax({
                type: "POST",
                url: '@Url.Action("ConfirmImport", "ImportProgress")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    window.location.reload();
                }
            })
        }

        function EditProgress(job_number, year, month, budget, progress) {
            console.log("Edit Budget Progress");
            console.log("Job Number: " + job_number);
            console.log("Year: " + year);
            console.log("Month: " + month);
            console.log("Budget: " + budget);
            console.log("Progress: " + progress);
            $('#ModalEditJobSpent').modal("show");
            $('#EditJobNumber').val(job_number);
            $('#EditJobYear').val(year);
            $('#EditJobMonth').val(month);
            $('#EditJobBudget').val(budget);
            $('#EditJobProgress').val(progress);
        }

        $('#btn_update_progress').on('click', function () {
            console.log("Updating Budget");
            var job_number = $('#EditJobNumber').val();
            var job_year = $('#EditJobYear').val();
            var job_month = $('#EditJobMonth').val();
            var job_budget = $('#EditJobBudget').val();
            var job_progress = $('#EditJobProgress').val();
            console.log("Update Budget Progress");
            console.log("Job Number: " + $('#EditJobNumber').val());
            console.log("Year: " + $('#EditJobYear').val());
            console.log("Month: " + $('#EditJobMonth').val());
            console.log("Budget: " + $('#EditJobBudget').val());
            console.log("Progress: " + $('#EditJobProgress').val());
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditProgress", "ImportProgress")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    job_number, job_year, job_month, job_budget, job_progress
                },
                success: function (response) {
                    window.location.reload();
                }
            });
        });

    </script>
}