<!-- Job Management Index -->
@{
    ViewData["Title"] = "Job Management";
}
<div class="container-fluid" style="padding-top:10px">

    <div class="info-box bg-dark">
        <div class="info-box-content">
            <h3 class="info-box-text">JOBS MANAGEMENT</h3>
        </div>
    </div>

    <div class="card card-dark">
        <div class="card-header">
            <span class="card-title">Job(s)</span>
            <div class="card-tools">
                <button id="btn_add_job" type="button" class="btn btn-dark">
                    <i class="fas fa-plus"></i> Add Job
                </button>
                <button type="button" class="btn btn-dark" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

        <div class="card-body">
            <table id="project_table" class="table table-sm table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>Job Number</th>
                        <th>Name</th>
                        <th>Job Type</th>
                        <th>Budget</th>
                        <th>Job Year</th>
                    </tr>
                </thead>
                <tbody>
                    @* Generate By JavaScript *@
                </tbody>
            </table>
        </div>
    </div>

</div>

<partial name="PartialAddJob" />
<!-- Modal Edit Update -->
<div class="modal" id="ModalEditJob" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Job</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label>Job Number</label>
                        <input id="EditJobNumber" class="form-control" type="text" disabled/>
                    </div>
                    <div class="form-group row">
                        <label>Name</label>
                        <div class="input-group">
                            <input id="EditJobName" class="form-control" type="text" disabled/>
                            <div class="input-group-append">
                                <button id="EnableEditJobName" class="btn btn-primary" type="button">
                                    Edit
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label>Budget</label>
                        <div class="input-group">
                            <input id="EditJobBudget" class="form-control" type="text" disabled />
                            <div class="input-group-append">
                                <button id="EnableEditBudget" class="btn btn-primary" type="button">
                                    Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="BtnSaveChanges" type="button" class="btn btn-primary" style="display:none">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            GetJobLists();
        });

        var jobs = [];
        async function GetJobLists() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetJobs", "JobManagement")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    jobs = response;
                    GenerateJobsList();
                }
            });
        }

        var table;
        function GenerateJobsList() {
            var datas = [];
            for (var i = 0; i < jobs.length; i++) {
                var jnum = jobs[i].job_number != "" ? jobs[i].job_number : jobs[i].job_id.substring(0,3) + '-' + jobs[i].job_id.substring(3);
                datas.push([
                    jnum,
                    jobs[i].job_name,
                    "Project",
                    jobs[i].estimated_budget.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                    jobs[i].job_year
                ]);
            }

            if (table != null)
                $('#project_table').DataTable().destroy();

            table = $('#project_table').DataTable({
                data: datas,
                pagingType: "full_numbers",
                order: [
                    [0, "desc"]
                ],
            });
        };

        //Edit Job
        $('#project_table tbody').on('click', 'tr', function () {
            $('#ModalEditJob').modal("show");
            $('#EditJobNumber').val(table.row(this).data()[0]);
            $('#EditJobName').val(table.row(this).data()[1]);
            $('#EditJobName').attr('disabled', true);
            $('#EditJobBudget').val(table.row(this).data()[2]);
            $('#EditJobBudget').attr('disabled', true);
            $('#BtnSaveChanges').hide();
        });

        $('#EnableEditJobName').on('click', function () {
            $('#EditJobName').attr('disabled', false);
        });

        $('#EnableEditBudget').on('click', function () {
            $('#EditJobBudget').attr('disabled', false);
        });

        $('#EditJobName').on('keydown', function () {
            $('#BtnSaveChanges').show();
        });

        $('#EditJobBudget').on('keydown', function () {
            $('#BtnSaveChanges').show();
        });

        $('#BtnSaveChanges').on('click', function () {
            var job_number = $('#EditJobNumber').val();
            var job_name = $('#EditJobName').val();
            var job_budget = $('#EditJobBudget').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditJobName", "JobManagement")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    job_number,job_name,job_budget
                },
                success: function (response) {
                    window.location.reload();
                }
            });
        });

        //Add Job
        $('#btn_add_job').on('click', function () {
            $('#modal_add_job').modal("show");
            $('#input_job_year').val(null);
            $('#input_job_number').val(null);
            $('#input_job_name').val(null);
        });

        $('#input_job_year').on('keyup', function () {
            EnableAddJob();
        });

        $('#input_job_number').on('keyup', function () {
            EnableAddJob();
        });

        $('#input_job_name').on('keyup', function () {
            EnableAddJob();
        });

        function EnableAddJob() {
            if ($('#input_job_year').val() != "" && $('#input_job_number').val() != "" && $('#input_job_name').val() != "") {
                $('#btn_confirm_add').attr('disabled', false);
            }
            else {
                $('#btn_confirm_add').attr('disabled', true);
            }
        }

        $('#btn_confirm_add').on('click', async function () {
            var number = $('#input_job_number').val();
            var name = $('#input_job_name').val();
            var year = $('#input_job_year').val();
            await $.ajax({
                type: "POST",
                url: '@Url.Action("AddJob", "JobManagement")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    number, name, year
                },
                success: function (response) {
                    window.location.reload();
                }
            })
        });

    </script>
}