<!-- Job Management Index -->
@{
    ViewData["Title"] = "Job Management";
}
<div class="container-fluid" style="padding-top:10px">

    <div class="info-box bg-dark">
        <div class="info-box-content">
            <h3 class="info-box-text">JOBS MANAGEMENT</h3>
        </div>
    </div>

    <div class="card card-dark">
        <div class="card-header">
            <span class="card-title">Job(s)</span>
            <div class="card-tools">
                <button id="btn_add_job" type="button" class="btn btn-dark">
                    <i class="fas fa-plus"></i> Add Job
                </button>
                <button type="button" class="btn btn-dark" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-dark btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

        <div class="card-body">
            <table id="project_table" class="table table-sm table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>JOB ID</th>
                        <th>Name</th>
                        <th>Budget</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>P01</td>
                        <td>Project 01</td>
                        <td>10M</td>
                    </tr>

                    <tr>
                        <td>P02</td>
                        <td>Project 02</td>
                        <td>5M</td>
                    </tr>

                    <tr>
                        <td>P03</td>
                        <td>Project 03</td>
                        <td>1M</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- Add Job Modal -->
<div class="modal" id="modal_add_job">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5>Add Job</h5>
                <button class="close" type="button" data-dismiss="modal">
                    &times;
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form>

                    <label for="input_job_year">Job Year</label>
                    <input id="input_job_year" class="form-control" type="text" placeholder="YYYY" />
                    <br />

                    <label for="input_job_number">Job Number</label>
                    <input id="input_job_number" class="form-control" type="text" placeholder="Job Number: JXX-XXXX" />
                    <br />

                    <label for="input_job_name">Job Name</label>
                    <input id="input_job_name" class="form-control" type="text" placeholder="Job Name" />
                    <br />

                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button id="btn_confirm_add" class="btn btn-primary" type="button" disabled>
                    Add
                </button>

                <button class="btn btn-danger" type="button" data-dismiss="modal">
                    Cancel
                </button>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            GetJobLists();
        });

        var jobs = [];
        async function GetJobLists() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetJobs", "JobManagement")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    //console.log("Response");
                    //console.log(response);
                    jobs = response;
                    GenerateJobsList();
                }
            });
        }

        var table;
        function GenerateJobsList() {
            var datas = [];
            $('#total_jobs').val(jobs.length)
            for (var i = 0; i < jobs.length; i++) {
                var jnum = jobs[i].job_number != "" ? jobs[i].job_number : jobs[i].job_id.substring(0,3) + '-' + jobs[i].job_id.substring(3);
                datas.push([
                    jnum,
                    jobs[i].job_name,
                    jobs[i].estimated_budget.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                ]);
            }

            if (table != null)
                $('#project_table').DataTable().destroy();

            table = $('#project_table').DataTable({
                data: datas,
                pagingType: "full_numbers",
                order: [
                    [0, "desc"]
                ],
            });
        };

        $('#btn_add_job').on('click', function () {
            $('#modal_add_job').modal("show");
            $('#input_job_year').val(null);
            $('#input_job_number').val(null);
            $('#input_job_name').val(null);
        });

        $('#input_job_year').on('keyup', function () {
            EnableAddJob();
        });

        $('#input_job_number').on('keyup', function () {
            EnableAddJob();
        });

        $('#input_job_name').on('keyup', function () {
            EnableAddJob();
        });

        function EnableAddJob() {
            if ($('#input_job_year').val() != "" && $('#input_job_number').val() != "" && $('#input_job_name').val() != "") {
                $('#btn_confirm_add').attr('disabled', false);
            }
            else {
                $('#btn_confirm_add').attr('disabled', true);
            }
        }

        $('#btn_confirm_add').on('click', async function () {
            var number = $('#input_job_number').val();
            var name = $('#input_job_name').val();
            var year = $('#input_job_year').val();
            await $.ajax({
                type: "POST",
                url: '@Url.Action("AddJob", "JobManagement")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    number, name, year
                },
                success: function (response) {
                    window.location.reload();
                }
            })
        });

    </script>
}